/* .tab-content{
    padding: 50px;
} */

/* thead{
    background-color: #bcb4c4;  */
    /* color: white; */
/* } */
/* .button{
    margin-top: 33px;
} */

/* #update{
    display: none;
}

.showelement{
    display: block;
}

.hideelement{
    display: none;
} */