<div class="content dashboard-container col-md-10 mt-2 ">
    <div class="row">

      <div class="   col-md-6 col-xl-3 col-sm-6">
        <div class="border border-primary">
          <h5 class="card-header">User Master</h5>
          <a routerLink="../usermaster">
            <div class="card-body  text-primary">
              <i class="bi bi-person "></i>
              <h5 class="card-title">{{user_data}}</h5>
            </div>
          </a>
        </div>
      </div>
      <div class=" col-md-6 col-xl-3 col-sm-6 ">
        <div class="border border-info">
          <h5 class="card-header">Client Master</h5>
          <a routerLink="../clientmaster">
            <div class="card-body text-info">
              <i class="bi bi-people "></i>
              <h5 class="card-title">{{client_data}}</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 col-sm-6 ">
        <div class="border border-success">
          <h5 class="card-header">Item Master</h5>
          <a routerLink="../itemmaster">
            <div class="card-body text-success">
              <i class="bi bi-basket2 "></i>
              <h5 class="card-title">{{item_data}}</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="   col-md-6 col-xl-3 col-sm-6  ">
        <div class="border border-danger">
          <h5 class="card-header">Invoice Master</h5>
          <a routerLink="../invoicemaster">
            <div class="card-body text-danger ">
              <i class="bi bi-journal-text  invoice"></i>
              <h5 class="card-title">Total Invoice:₹{{total_invoice}}</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
