
<div class="paggination">
    <div class="col-1">
      <select #row  class="form-select"  (change)="getRows(row.value)" >
        
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=10>10</option>
      </select>
    </div>
    <div class="col-2 page">

      <button type="button" class="btn " (click)="left()">Prev</button>

    
  <button type='button' class='btn'>{{user_all_fun.page_no}}</button>
      
    <button type="button" class="btn" (click)="right()">Next</button>
    </div>
  </div>
