
<div class="paggination">
    <div class="col-1">
      <select #row  class="form-select"  (change)="getRows(row.value)" >
        
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=10>10</option>
      </select>
    </div>
    <div class="col-4 page">

      <div class="pagination-container">
        <button type="button" class="btn" (click)="first()">First</button>
        <button type="button" class="btn" (click)="left()"><i class="bi bi-chevron-double-left"></i></button>
      
        <button type="button" class="btn current-page">
          {{ page_no() }}
        </button>
      
        <button type="button" class="btn" (click)="right()"><i class="bi bi-chevron-double-right"></i></button>
        <button type="button" class="btn" (click)="last()">Last</button>
      </div>
      
    </div>
  </div>
