
<div class="paggination">
    <div class="col-1">
      <select #row  class="form-select"  (change)="getRows(row.value)" >
        
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=10>10</option>
      </select>
    </div>
    <div class="col-2 page">

      <button type="button" class="btn " (click)="left()">Prev</button>

    
  <button type='button' class='btn'>{{page_no}}</button>
      
    <button type="button" class="btn" (click)="right()">Next</button>
    </div>
  </div>

  <table class="table  table-hover">
    <thead >
        <tr>

            <th>S No.</th>
            <th>Id </th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Update</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
      @for (item of records; track item.id){
        <tr>
         
        <td></td>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.phone }}</td>
        <td><button class='btn  btn-sm'><i class='bi bi-pencil m-3' ></i></button></td>
        <td><button class='btn  btn-sm'><i class='bi bi-trash3 m-3'></i></button></td>
      </tr>
        }
         @empty {
          <tr>
        <td colspan="6">There are no items</td>
      </tr>
        }
      
    </tbody>
      </table>