/* You can add global styles to this file, and also import other style files */
body{
    color: #482669;;
}

/* .btn{
   background-color: #482669 !important;
    color: white !important; */
 
    /* margin-top: 30px; */
/* } */

.btn:hover{
    color: white;
}


.tab-content{
    padding: 50px;
}

thead{
    background-color: #bcb4c4; 
    /* color: white; */
}
.button{
    margin-top: 33px;
}

.table-btn{
    background-color: #168497 !important;
    color: white !important; 
    

   
    
}

.error{
    color: red;
}

th{
    font-size: 13px;
    white-space:nowrap;
}
/* td{
    font-size: 13px;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
